<template>
  <q-page class="q-pa-md text-white">
    <div class="row">
      <div class="col-12 col-sm-4 text-center">
        <q-img
          style="width: 300px; max-width: 300px; margin-right: auto; margin-left: auto;"
          :src="album.cover"
          placeholder-src="https://play.zerobam.com/img/loading.2cd238d1.png"
        />
        <div class="albumName">{{album.name}}</div>
        <div @click="$router.push(/artist/ + artist.id)" class="artistName">{{artist.name}}</div>
        <q-btn rounded color="positive" label="Play" class="playButton q-mt-lg"/>
      </div>
      <div class="col-12 col-sm-8">
        <tracks-component :tracks="tracks"></tracks-component>
      </div>
    </div>
  </q-page>
</template>

<script>
import TracksComponent from './components/tracks.vue'

export default {
  name: 'PageCollection',
  components: {
    'tracks-component': TracksComponent
  },
  props: ['id'],
  mounted () {
    this.fetchAlbum(this.id)
  },
  data () {
    return {
      album: {},
      tracks: {},
      artist: {},
      colors: [],
      rgbColor: {}
    }
  },
  computed: {
    classObject: function () {
      if (this.$q.screen.width > 599) {
        return 'col-xs-12 col-sm-auto text-left'
      } else {
        return 'col-xs-12 col-sm-auto'
      }
    }
  },
  methods: {
    fetchAlbum (id) {
      this.$axios.get('/album/' + id).then((response) => {
        this.album = response.data.data.album
        this.tracks = response.data.data.album.tracks
        this.artist = response.data.data.artist
        this.colors = this.album.colors
        var rgbBrightness = 0.2126 * this.colors[0][0] + 0.7152 * this.colors[0][1] + 0.0722 * this.colors[0][2]
        var newRgbColor
        if (rgbBrightness > 100) {
          newRgbColor = [
            [this.colors[0][0] * 0.50],
            [this.colors[0][1] * 0.50],
            [this.colors[0][2] * 0.50]
          ]
          console.log('RGB color with 0.50 darker')
        } else if (rgbBrightness < 50) {
          newRgbColor = [
            [this.colors[0][0] * 2.50],
            [this.colors[0][1] * 2.50],
            [this.colors[0][2] * 2.50]
          ]
          console.log('RGB 150% brighter')
        } else {
          newRgbColor = [
            [this.colors[0][0]],
            [this.colors[0][1]],
            [this.colors[0][2]]
          ]
          console.log('Original RGB color')
        }
        this.rgbColor = 'background: linear-gradient(rgba(' + newRgbColor[0] + ', ' + newRgbColor[1] + ', ' + newRgbColor[2] + '), black);'
        this.$store.dispatch('theme/SET_BACKGROUND', this.rgbColor)
        console.log(0.2126 * this.colors[0][0] + 0.7152 * this.colors[0][1] + 0.0722 * this.colors[0][2])
      })
    },
    colAlighments () {
      console.log(this.$q.screen.width)
      if (this.$q.screen.width > 599) {
        return 'col-xs-12 col-sm-4 text-left'
      } else {
        return 'col-xs-12 col-sm-4 text-center'
      }
    }
  },
  beforeDestroy () {
    this.$store.dispatch('theme/SET_DEFAULT_BACKGROUND_COLOR')
  }
}
</script>

<style lang="css" scoped>
.albumName {
  font-size: 35px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.artistName {
  color: grey;
  cursor: pointer;
}

.artistName:hover {
  text-decoration: underline;
}

.screen-xs {
  text-align: center;
}
</style>
