<template>
  <q-page class="q-pa-md">
    <div class="column items-center">
      <div class="col" style="padding-bottom: 40px;">
        <h4>Zerobam</h4>
      </div>
      <div class="col" style="max-width: 400px; min-width: 300px;">
        <q-card>
          <q-tabs
            v-model="tab"
            dense
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="justify"
            narrow-indicator
          >
            <q-tab name="login" label="Login" />
            <q-tab name="register" label="Register" />
          </q-tabs>

          <q-separator />

          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="login">
              <login-component></login-component>
            </q-tab-panel>

            <q-tab-panel name="register">
              <registeration-component></registeration-component>
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
    </div>
  </div>
</q-page>
</template>

<script>
import RegisterationComponent from './components/registration.vue'
import LoginComponent from './components/login.vue'
export default {
  components: {
    'registeration-component': RegisterationComponent,
    'login-component': LoginComponent
  },
  data () {
    return {
      tab: 'login',
      error: false
    }
  }
}
</script>
