<template>
  <div class="popular-tracks-component">
    <h5 class="text-center">Popular</h5>
    <q-markup-table dark dense flat square class="transparent" separator="none">
      <tbody>
        <tr v-for="(track, index) in popularTracks" :key="track.id"
          class="popularTracks"
          >
          <td class="text-left" ref="" style="padding: 0px; width: 10px;">
              <img style="height: 50px; max-width: 50px" :src="track.cover">
          </td>
          <td class="text-center" style="width: 40px;">
            {{index + 1}}
          </td>
          <td v-if="hover" class="text-center" style="width: 40px;">
            <q-btn flat round size="md" dense color="white" icon="play_circle_outline" />
          </td>
          <td class="text-left">{{track.title}}</td>
          <td class="text-right">{{track.play_count}}</td>
        </tr>
      </tbody>
    </q-markup-table>
  </div>
</template>

<script>
export default {
  props: ['popularTracks'],
  name: 'popular-tracks',
  data () {
    return {
      hover: false
    }
  }
}
</script>

<style lang="css" scoped>
  .playButton {
    padding: 0px 40px;
  }

  .popularTracks {
    cursor: pointer;
  }
</style>
