<template>
  <q-page class="q-pa-md text-white">
    <h4>Editor's Picks</h4>
    <div class="row">
      <div class="col-auto">
        <q-card flat square dark class="bg-grey-9 my-card">
          <q-img
            src="https://zerobam.ams3.digitaloceanspaces.com/medias/403/conversions/85a990ca-large.jpg"
          />
          <q-card-section>
            <div class="text-h6">Destiny</div>
            <div class="text-subtitle2">by Shadmehr Aghili</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
    }
  }
}
</script>
