<template>
  <q-page class="q-pa-md text-white">
    <div class="row text-center">
      <div class="col-xs-12">
        <q-avatar size="200px" class="q-mr-md">
          <img :src="artist.photo">
        </q-avatar>
      </div>
      <div class="col-xs-12">
        <h3>{{artist.name}}</h3>
        <q-btn rounded color="positive" label="Play" class="playButton"/>
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col">
        <popular-tracks-component :popularTracks="popularTracks"></popular-tracks-component>
      </div>
    </div>
    <h5 class="text-center">Album</h5>
    <div class="row q-col-gutter-md">
      <template v-for="album in albums">
        <div class="col-xs-6 col-sm-4 col-md-3 q-pt-md" v-if="album.album_type == 'album'" :key="album.id">
          <q-img
            @click="$router.push('/collection/' + album.id)"
            :src="album.cover"
            class="album-image"
          />
          <div class="text-subtitle1 q-pt-md albumName text-center">{{album.name}}</div>
        </div>
      </template>
    </div>
    <h5 class="text-center">Singles</h5>
    <div class="row q-col-gutter-md">
      <template v-for="album in albums">
        <div class="col-xs-6 col-sm-4 col-md-3 q-pt-md" v-if="album.album_type == 'single'" :key="album.id">
          <q-img
            @click="$router.push('/collection/' + album.id)"
            :src="album.cover"
            class="album-image"
          />
          <div class="text-subtitle1 q-pt-md albumName text-center">{{album.name}}</div>
        </div>
      </template>
    </div>
  </q-page>
</template>

<script>
import PopularTracksComponent from './components/popular-tracks.vue'
export default {
  name: 'PageArtist',
  props: ['id'],
  components: {
    'popular-tracks-component': PopularTracksComponent
  },
  data () {
    return {
      artist: {},
      tab: 'overview',
      popularTracks: {},
      albums: {},
      counter: 1
    }
  },
  mounted () {
    console.log(this.counter)
    this.counter = 2
    this.$axios.get('/artist/' + this.id)
      .then((response) => {
        this.artist = response.data.data.artist
        this.popularTracks = response.data.data.popularTracks
        this.albums = response.data.data.albums
      })
  },
  methods: {
  }
}
</script>

<style lang="css" scoped>
  .tab-buttons {
    padding: 0px;
  }

  .tab-buttons:hover {
    background: transparent !important;
  }

  .albumName {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .album-image:hover {
    color: grey;
  }
</style>
