<template>
  <q-page class="q-pa-md flex items-center justify-center text-white">
    <q-card dark class="bg-grey-9 user-card text-center">
      <div class="q-pa-md q-gutter-sm">
        <q-avatar size="100px" font-size="52px" color="grey-8" text-color="white" icon="account_box" />
      </div>
      <q-card-section>
        <div class="text-h6">{{user.name}}</div>
      </q-card-section>

      <q-separator dark inset />

      <q-card-actions vertical align="center">
        <q-btn flat @click="logout">Log Out</q-btn>
      </q-card-actions>
    </q-card>
  </q-page>
</template>

<script>
import { LocalStorage } from 'quasar'
export default {

  name: 'UserPage',

  data () {
    return {
      user: {}
    }
  },
  mounted () {
    this.user = LocalStorage.getItem('user')
  },
  methods: {
    logout () {
      LocalStorage.remove('user')
      LocalStorage.remove('token')
      this.$router.push('/')
    }
  }
}
</script>

<style lang="css" scoped>
  .user-card {
    max-width: 300px;
    min-width: 300px;
    max-height: 600px;
    width: 100%;
  }
</style>
