<template>
    <div class="headerComponent fixed-top z-top" style="padding: 5px; background: #181818;">
        <div class="row gt-xs items-center text-white">
          <div class="col-auto">
            <q-btn @click="$router.go(-1);" dense icon="keyboard_arrow_left" />
            <q-btn @click="$router.go(+1);" dense icon="keyboard_arrow_right" />
          </div>
          <div class="col-auto text-right">
              <q-input
                style="height: 30px; margin-left: 5px;"
                placeholder="Search..."
                rounded
                dense
                bg-color="white"
                color="green"
                outlined v-model="query"
                @click="$router.push('/search')"
                v-on:keyup="search(query)"
              />
          </div>
          <div class="col text-right">
            <q-chip @click="$router.push('/user')" clickable color="white">
              <q-avatar
                icon="account_box"
              />
              {{user.name}}
            </q-chip>
          </div>
        </div>
    </div>
</template>

<script>
import { LocalStorage } from 'quasar'
export default {

  name: 'HeaderComponent',

  data () {
    return {
      query: '',
      isSignedIn: true,
      user: {}
    }
  },
  mounted () {
    this.user = LocalStorage.getItem('user')
  },
  methods: {
    search (query) {
      if (query !== '') {
        this.$root.$emit('search', query)
      } else {
        query = null
        this.$root.$emit('search', query)
      }
    }
  }
}
</script>

<style lang="css">
  .q-field--dense .q-field__control, .q-field--dense .q-field__marginal {
      height: 30px !important;
  }
</style>
