<template>
    <div class="text-white" style="background: #292929;">
        <div class="row items-center" style="padding: 7px 15px;">
          <div class="col-auto q-pr-md">
            <q-img
              :src="playingTrack.cover"
              spinner-color="white"
              style="width: 60px; height: 60px"
            />
          </div>
          <div class="col-3">
              <div class="text-bold">{{$store.state.player.track.title}}</div>
              <div class="text-grey-5">{{$store.state.player.track.artist}}</div>
          </div>
          <div class="col">
            <playercontrols-component></playercontrols-component>
          </div>
          <div class="col-1">

          </div>
          <div class="col-2" style="max-width: 200px; min-width: 150px;">
            <volumecontrols-component></volumecontrols-component>
          </div>
        </div>
    </div>
</template>
<script>
import PlayerControlsComponent from './PlayerControlsComponent.vue'
import VolumeControlsComponent from './VolumeControlsComponent.vue'

export default {
  components: {
    'playercontrols-component': PlayerControlsComponent,
    'volumecontrols-component': VolumeControlsComponent
  },
  data () {
    return {
      title: 'Paeiz',
      artist: 'Mehdi Yarrahi'
    }
  },
  computed: {
    playingTrack () {
      return this.$store.state.player.track
    }
  }
}
</script>
