<template>
    <div class="player-controls">
        <div class="row items-center">
            <div class="col text-right">
              <q-btn flat round color="white" dense icon="skip_previous" />
            </div>
            <div class="col-auto text-center">
              <q-btn
                flat
                round
                size="lg"
                dense
                color="white"
                :icon="playbackPauseState"
                @click="togglePlaybackState()"
              />
            </div>
            <div class="col text-left">
                <q-btn flat round color="white" dense icon="skip_next" />
            </div>
        </div>
        <div class="row">
            <div class="col-auto" style="padding-right: 10px;">
                <span>{{trackCurrentTimeInString}}</span>
            </div>
            <div class="col">
                <q-slider
                  v-model="trackCurrentTime"
                  dense
                  :min="0"
                  :max="trackDuration"
                  color="green"
                />
            </div>
            <div class="col-auto" style="padding-left: 10px;">
                <span>{{trackDurationInString}}</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      isAudioPaused: false
    }
  },
  computed: {
    trackDuration () {
      return this.$store.getters['player/duration']
    },
    trackCurrentTime: {
      get () {
        return this.$store.getters['player/currentTime']
      },
      set (newTime) {
        this.$store.dispatch('player/SET_PLAYBACK_TIME', newTime)
      }
    },
    trackDurationInString () {
      return this.$store.getters['player/trackDurationInString']
    },
    trackCurrentTimeInString () {
      return this.$store.getters['player/trackCurrentTimeInString']
    },
    playbackPauseState () {
      if (this.$store.getters['player/playbackPauseState'] === true) {
        return 'play_circle_outline'
      } else {
        return 'pause_circle_outline'
      }
    }
  },
  methods: {
    togglePlaybackState () {
      this.$store.dispatch('player/TOGGLE_PLAYBACK_STATE')
    }
  }
}
</script>
