<template>
  <div class="q-pa-sm sidebar">
    <q-list class="text-white">
      <q-item @click="$router.push('/')" clickable v-ripple>
        <q-item-section avatar>
          <q-icon name="home" />
        </q-item-section>

        <q-item-section>
          Home
        </q-item-section>
      </q-item>

      <q-item @click="$router.push('/search')" clickable v-ripple>
        <q-item-section avatar>
          <q-icon name="search" />
        </q-item-section>

        <q-item-section>
          Search
        </q-item-section>
      </q-item>

      <q-item clickable v-ripple>
        <q-item-section avatar>
          <q-icon name="music_note" />
        </q-item-section>

        <q-item-section>
          Saved Songs
        </q-item-section>
      </q-item>

      <q-item clickable v-ripple>
        <q-item-section avatar>
          <q-icon name="playlist_play" />
        </q-item-section>

        <q-item-section>
          Playlists
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
export default {
  data () {
    return {
      url: 'https://zerobam.ams3.digitaloceanspaces.com/medias/116/conversions/fd2a7525cb7aeb9-large.jpg',
      left: true
    }
  }
}
</script>

<style scoped>
  .sidebar {
    min-height: calc(100vh - 84px) !important;
    background: #0000004d;
  }
  .q-item__section--avatar {
    min-width: auto;
  }
</style>
