<template>
  <div class="volume-control">
    <q-list dense>
      <q-item>
        <q-item-section side>
          <q-icon color="white" name="volume_up" />
        </q-item-section>
        <q-item-section>
          <q-slider
            v-model="volume"
            :min="0"
            :max="10"
            color="white"
            @wheel.prevent="controlVolume($event)"
          />
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>
<script>
export default {
  methods: {
    controlVolume (event) {
      console.log(event)
    }
  },
  computed: {
    volume: {
      get () {
        return this.$store.getters['player/playbackVolume'] * 10
      },
      set (volume) {
        var newVolume = volume / 10
        this.$store.dispatch('player/SET_VOLUME', newVolume)
      }
    }
  }
}
</script>
