<template>
  <q-markup-table dark flat square class="transparent" separator="none">
    <thead class="gt-xs">
      <tr>
        <th class="text-left">#</th>
        <th class="text-left">TITLE</th>
        <th class="text-right">PLAYS</th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="(track, index) in tracks"
        :key="track.id"
        class="trackRow v-ripple"
        @click="playTrack(track, index)"

      >
        <td class="text-center gt-xs" style="width: 40px;">
          {{index + 1}}
        </td>
        <td class="text-left">

          <div :class="trackTitle(track)">{{track.title}}</div>
          <div class="trackArtist">{{track.artist}}</div>
        </td>
        <td class="text-right">{{track.play_count}}</td>
      </tr>
    </tbody>
  </q-markup-table>
</template>

<script>
export default {
  props: ['tracks'],
  name: 'tracks',
  data () {
    return {

    }
  },
  methods: {
    playTrack (track, index) {
      this.$store.dispatch('player/SET_TRACK', track)
    },
    trackTitle (track) {
      let playingTrack = this.$store.getters['player/PLAYING_TRACK']
      if (playingTrack !== null && playingTrack.id === track.id) {
        return 'trackTitleActive'
      } else {
        return 'trackTitle'
      }
    }
  }
}
</script>

<style lang="css" scoped>
.trackRow {
  cursor: pointer;
}

.trackTitle {
  font-weight: 500;
  font-size: 15px;
}

.trackTitleActive {
  font-weight: 500;
  font-size: 15px;
  color: #1db954;
}

.trackArtist {
  color: grey;
  cursor: pointer;
}

.q-table--dark thead, .q-table--dark tr, .q-table--dark th, .q-table--dark td {
  border-color: rgba(72, 72, 72, 0.48);
}
</style>
