<template>
  <q-page class="q-pa-md text-white">
    <div class="row">
      <div class="col">
        <q-input dark v-model="query" v-on:keyup="search(query)" filled color="white" label="Search" />
      </div>
    </div>
    <template v-if="query === null">
      <recent-searches-component></recent-searches-component>
    </template>
    <template v-else>
      <search-component :query="query"></search-component>
    </template>
  </q-page>
</template>
<script>
import RecentSearchesComponent from './components/RecentSearches.vue'
import SearchComponent from './components/Search.vue'
export default {
  name: 'PageSearch',
  components: {
    'recent-searches-component': RecentSearchesComponent,
    'search-component': SearchComponent
  },
  data () {
    return {
      query: null
    }
  },
  mounted () {
    this.$root.$on('search', (data) => { this.search(data) })
    this.search(this.query)
  },
  methods: {
    search (query) {
      if (query !== '') {
        this.query = query
      } else {
        this.query = null
      }
    }
  }
}
</script>
