<template>
  <div class="recent-searches-component">
    <div class="row">
      <div class="col">
        <h4 class="gt-xs">Recent Searches</h4>
        <h5 class="lt-sm">Recent Searches</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <q-list>
          <q-item clickable v-ripple>
            <q-item-section avatar>
              <q-avatar square>
                <img src="https://zerobam.ams3.digitaloceanspaces.com/medias/372/conversions/7d7ce29d34c1a48-small.jpg">
              </q-avatar>
            </q-item-section>
            <q-item-section>
              <q-item-label>Sarnavesht</q-item-label>
              <q-item-label class="text-grey" caption lines="1">Shadmehr Aghili</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-icon name="clear" color="grey" />
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </div>
  </div>
</template>

<script>
export default {

  name: 'recent-searches',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>
