<template>
  <div  class="search-component">
    <template v-if="artists.length > 0">
      <div class="artists-result">
        <div class="row">
          <div class="col">
            <h4 class="gt-xs">Artists</h4>
            <h5 class="lt-sm">Artists</h5>
          </div>
        </div>
        <div class="row">
          <div v-for="artist in artists" :key="artist.id" class="col-auto gt-xs">
            <q-card dark @click="$router.push('/artist/' + artist.id)" class="bg-grey-9 user-card text-center q-ma-sm">
              <div class="q-pa-md">
                <q-avatar size="120px" round>
                  <img :src="artist.photo_url">
                </q-avatar>
              </div>
              <q-card-section>
                <div class="text-h6">{{artist.name}}</div>
              </q-card-section>
            </q-card>
          </div>
          <div class="col lt-sm">
            <q-list>
              <q-item v-for="artist in artists" :key="artist.id" clickable v-ripple  @click="$router.push('/artist/' + artist.id)">
                <q-item-section avatar>
                  <q-avatar size="50px" square>
                    <img :src="artist.photo_url">
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{artist.name}}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </div>
      </div>
    </template>
    <template v-if="noResult">
      <div class="row">
        <div class="col">
          <h4 class="gt-xs">No results</h4>
          <h5 class="lt-sm">No resluts</h5>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
export default {

  name: 'search',
  props: ['query'],
  data () {
    return {
      searchQuery: null,
      artists: [],
      noResult: false
    }
  },
  watch: {
    query: function (newVal, oldVal) {
      this.searchQuery = newVal
    },
    searchQuery: function (newVal, oldVal) {
      this.search(newVal)
    }
  },
  mounted () {
    this.searchQuery = this.query
  },
  methods: {
    search (query) {
      this.noResult = false
      this.$axios.get('/search/artist/' + query)
        .then((response) => {
          if (response.data.length > 0) {
            this.artists = response.data
          } else {
            this.artists = []
            this.noResult = true
          }
        }).catch((err) => {
          console.log(err)
        })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
