<template>
  <q-form
    class="q-gutter-md float-center"
    autocomplete="on"
  >
    <template v-if="error">
      <q-banner rounded inline-actions class="text-white bg-red" style="margin-bottom: 35px;">
        Login error<br>
        User not found
      </q-banner>
    </template>
    <q-input
      filled
      v-model="email"
      label="Email"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Please enter your email address']"
    />

    <q-input
      filled
      type="password"
      v-model="password"
      label="Password"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Please enter your password']"
    />

    <div>
      <q-btn :loading="loading1" label="Submit" @click="onSubmit()"  type="submit" color="primary"/>
      </div>
  </q-form>
</template>

<script>
export default {

  name: 'login',

  data () {
    return {
      error: false,
      name: null,
      email: null,
      password: null,
      passwordConfirmation: null,
      loading1: false,
      accept: false
    }
  },
  methods: {
    onSubmit () {
      this.error = false
      this.loading1 = true
      let email = this.email
      let password = this.password
      var config = {
        headers: {
          'Content-type': 'application/json'
        }
      }

      this.$axios.post(process.env.API + '/login', { 'email': email, 'password': password }, config)
        .then((response) => {
          this.$q.localStorage.set('user', response.data.user)
          this.$q.localStorage.set('token', response.data.token)
          this.loading1 = false
          this.$router.push('/')
        }).catch((err) => {
          console.log(err)
          this.$q.localStorage.remove('user')
          this.error = true
          this.loading1 = false
        })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
