<template>
  <q-form
    class="q-gutter-md float-center"
    autocomplete="on"
  >
    <template v-if="error">
      <q-banner rounded inline-actions class="text-white bg-red" style="margin-bottom: 35px;">
        Registration error.<br>
        User already exists.
      </q-banner>
    </template>
    <q-input
      filled
      v-model="name"
      label="Name"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Please enter your name']"
    />
    <q-input
      filled
      v-model="email"
      label="Email"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Please enter an email address']"
    />

    <q-input
      v-model="password"
      filled
      label="Password"
      :type="isPwd ? 'password' : 'text'"
      lazy-rules
      :rules="[ val => !!val || 'Please enter a password']"
    >
      <template v-slot:append>
        <q-icon
          :name="isPwd ? 'visibility_off' : 'visibility'"
          class="cursor-pointer"
          @click="isPwd = !isPwd"
        />
      </template>
    </q-input>
    <div>
      <q-btn :loading="loading1" label="Register" @click="register()"  type="submit" color="primary"/>
    </div>
  </q-form>
</template>

<script>
export default {

  name: 'registration',

  data () {
    return {
      password: '',
      isPwd: true,
      name: null,
      email: null,
      loading1: false,
      error: false
    }
  },
  methods: {
    register () {
      this.loading1 = true
      this.error = false
      let name = this.name
      let email = this.email
      let password = this.password
      var config = {
        headers: {
          'Content-type': 'application/json'
        }
      }

      this.$axios.post('http://127.0.0.1:8000/api/register', { 'email': email, 'password': password, 'name': name }, config)
        .then((response) => {
          this.$q.localStorage.set('user', response.data.user)
          this.$q.localStorage.set('token', response.data.token)
          this.loading1 = false
          this.$router.push('/')
        }).catch((err) => {
          console.log(err)
          this.$q.localStorage.remove('user')
          this.$q.localStorage.remove('token')
          this.error = true
          this.loading1 = false
        })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
