<template>
  <div :style="backgroundColor">
    <q-splitter
      class="gt-xs"
      v-model="splitterModel"
      style="height: calc(100vh - 83px)"
      :limits="[2, 30]"
      before-class="sidemenu"
      :separator-style="{ backgroundColor: 'transparent'}"
    >

      <template v-slot:before>
        <sidemenu-component></sidemenu-component>
      </template>

      <template v-slot:after>
        <q-layout container>
          <q-page-container class="q-pt-md doc-page">
            <router-view/>
          </q-page-container>
        </q-layout>
      </template>
    </q-splitter>

    <player-component class="gt-xs"></player-component>
    <q-layout class="lt-sm" view="hHh lpR fFf">
      <q-page-container>
        <keep-alive>
          <router-view :key="$route.fullPath"/>
        </keep-alive>
      </q-page-container>

      <q-footer class="text-white" style="background: #292929;">
        <q-tabs class="lt-sm">
          <q-route-tab
            icon="home"
            to="/"
            exact
          />
          <q-route-tab
            icon="search"
            to="/search"
            exact
          />
        </q-tabs>
      </q-footer>

    </q-layout>
  </div>
</template>
<script>
import PlayerComponent from '../components/player.vue'
import SideMenuComponent from '../components/sidemenu.vue'

export default {
  components: {
    'player-component': PlayerComponent,
    'sidemenu-component': SideMenuComponent
  },
  data () {
    return {
      splitterModel: 0
    }
  },
  computed: {
    backgroundColor () {
      return this.$store.getters['theme/BACKGROUND']
    }
  }
}
</script>

<style lang="css">
  .sidemenu {
    min-width: 170px;
    max-width: 170px;
  }

  .doc-page {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
