<template>
  <q-layout class="bg-grey-10" view="hHh lpR fFf">
    <q-splitter
      class="gt-xs"
      v-model="splitterModel"
      :limits="[2, 30]"
      before-class="sidemenu"
      after-class="mainContent"
    >
      <template v-slot:before>
          <q-page-container>
            <sidemenu-component></sidemenu-component>
          </q-page-container>
      </template>

      <template v-slot:after>
        <q-page-container>
          <header-component></header-component>
          <keep-alive>
            <router-view :key="$route.fullPath"/>
          </keep-alive>
        </q-page-container>
      </template>
    </q-splitter>

    <q-page-container class="lt-sm">
      <keep-alive>
        <router-view :key="$route.fullPath"/>
      </keep-alive>
    </q-page-container>

    <q-footer bordered class="bg-grey-9 text-white">
      <player-component class="gt-xs"></player-component>
      <q-tabs class="lt-sm">
        <q-route-tab
          icon="home"
          to="/"
          exact
        />
        <q-route-tab
          icon="search"
          to="/search"
          exact
        />
      </q-tabs>
    </q-footer>

  </q-layout>
</template>

<script>
import PlayerComponent from '../components/player.vue'
import SideMenuComponent from '../components/sidemenu.vue'
import HeaderComponent from '../components/headerComponent.vue'

export default {
  name: 'MyLaout',
  components: {
    'player-component': PlayerComponent,
    'sidemenu-component': SideMenuComponent,
    'header-component': HeaderComponent
  },
  data () {
    return {
      splitterModel: 12,
      url: 'https://zerobam.ams3.digitaloceanspaces.com/medias/116/conversions/fd2a7525cb7aeb9-large.jpg',
      left: true
    }
  }
}
</script>

<style>
  .sidemenu {
    min-width: 220px;
    max-width: 30%;
  }
</style>
